.h-text{
    font-size: 40px;
    font-family: "Times New Roman";
    text-align: center;
    height:40px;
    color: #abfe23;
}
#components-layout-demo-fixed .logo {
    float: left;
    width: 130px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
}

.center
{
    display: block;
    margin-left: 500px;
    margin-right: 100px;
    width: 110%;
}
